
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-param" content="_csrf">
<meta name="csrf-token" content="NSQa1fHj-zgENRz8jTO5-F5tYxSvreFwtOIcgAyBqK5RFkmQooLWWkBvRKXiRIuiExxTd4KahS_MpXbyQcTy1A==">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>SPA</title>
    <link rel="icon" type="image/png" href="/icons/512x512.png"/>
    <link rel="manifest" href="/manifest.json"/>
    <meta name="msapplication-config" content="/browserconfig.xml"/>
    <meta name="referrer" content="origin"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <!-- <script src="/js/jquery.min.js"></script> -->
    <!-- <script src="//www.google.com/recaptcha/api.js?render=6LftRl0aAAAAAHJDSCKdThCy1TaS9OwaGNPSgWyC"></script> -->
  <link href="/spa_assets/css/app.css" rel="stylesheet"></head>
<body>
<noscript><strong>Для отображения страницы включите  Javascript !</strong></noscript>
<style>@keyframes dash {
           to {
               stroke-dashoffset: 136;
           }
       }
    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }</style>
<div id="app">
    <svg width="100px" height="100px" style="position: absolute;left:calc(50% - 50px);top:calc(50% - 50px)" viewBox="-3 -4 39 39"><polygon style="stroke-dasharray: 17;animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;" fill="#ffffff" stroke="#ff0000" stroke-width="1" points="16,0 32,32 0,32"></polygon></svg>
</div>
<script>
  /*jQuery(function ($) {
    grecaptcha.ready(function() {
      grecaptcha.execute("6LftRl0aAAAAAHJDSCKdThCy1TaS9OwaGNPSgWyC", {action: "index"}).then(function(token) {
        jQuery("#" + "indexform-recaptcha").val(token);

        const jsCallback = "";
        if (jsCallback) {
          eval("(" + jsCallback + ")(token)");
        }
      });
    });

  });*/
</script><script src="/spa_assets/js/chunk-vendors.js"></script>
<script src="/spa_assets/js/app.js"></script></body>
</html>
